/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////////////////////////////////////////// */
/* intro page */
/* ////////////////////////////////////////////////// */

body {
    background-image: url("../images/bluegradient.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.title img {
    margin-top: 3em;
    width: 10em;
}

.title h1 {
    color: white;
    font-size: 4em;
    margin-bottom: 1em;
}

.title h2 {
    color: white;
    font-size: 2em;
}

.link {
    margin: auto;
    margin-top: 12em;
}

.link h3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
    /* margin-left: -2em; */
}

.link img {
    margin-left: 3em;
    width: 5em;
}


/* /////////////////////////////////////////////////// */
/* video */
/* ////////////////////////////////////////////////// */

.vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* pointer-events: none; */
    overflow: hidden;
 }
 .vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .NextButton img {
    margin-top: 20em;
    float: right;
    width: 5em;
}

/* /////////////////////////////////////////////////// */
/* map */
/* ////////////////////////////////////////////////// */

.MapBody {
    flex-direction: row;
    background-image: url("../images/map1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
}

.VS img {
    width: 2em;
    margin-left: -27em;
    margin-top: 15em;
    z-index: 1;
}

.NL img {
    width: 2em;
    margin-left: -1em;
    margin-top: 12em;
    z-index: 2;
}

/* /////////////////////////////////////////////////// */
/* Introduction */
/* ////////////////////////////////////////////////// */

.introbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.IntroductionText {
    margin-top: 10em;
    width: 40%;
    margin-left: 2em;
}

.IntroductionText h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: bold;
}

.IntroductionText p {
    color: white;
    font-size: 1.2em;
}

.SideImage img {
    margin-top: 5em;
    width: 30em;
}

.NextButtonToMap img {
    margin-right: 2em;
    margin-top: 20em;
    width: 5em;
}

/* /////////////////////////////////////////////////// */
/* vs */
/* ////////////////////////////////////////////////// */

.VS {
    display: flex;
    flex-direction: column;
    
}

.VS h1 {
    font-size: 3em;
    color: white;
    margin-top: 0.5em;
    margin-left: 1em;
}

.images {
    margin-top: -10em;
}

#VSmap1 {
    width: 40em;
    margin-left: 1em;
    margin-top: 3em;
}

#VSmap2 {
    width: 40em;
    margin-left: 1em;
    margin-top: 3em;
}

#chart1 {
    width: 25em;
    margin-left: 15em;
}

#chart2 {
    width: 25em;
    margin-left: 15em;
}

.VS input {
    margin-left: 5em;
    margin-top: 10em;
    width: 90%;
}
.NextButtonToprocent  {
    margin-top: -38em;
    margin-left: 110em;
    width: 5em;
}


.NextButtonToprocent img {
    width: 5em;
}

.DataText {
    margin-top: 5em;
    width: 40%;
    margin-left: 2em;
}

.DataText h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: bold;
}

.DataText p {
    color: white;
    font-size: 1.2em;
}

.DataImage {
    width: 40em;
    margin-top: 3em;

}

/* /////////////////////////////////////////////////// */
/* red button */
/* ////////////////////////////////////////////////// */

.redbuttontext {
    text-align: center;
    margin-top: 4em;
    text-decoration: none;
}

.redbuttontext h1{
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: bold;
    text-decoration: none;
}

.redbuttontext a {
    text-decoration: none;
}

.redbuttontext p {
    color: white;
    font-size: 1.2em;
}

.redbuttontext img {
    margin-top: 10em;
    width: 20em;
}

/* /////////////////////////////////////////////////// */
/* error */
/* ////////////////////////////////////////////////// */

.errortext h1 {
    text-decoration: none;
}

/* /////////////////////////////////////////////////// */
/* nl */
/* ////////////////////////////////////////////////// */

.nltext {
    margin-left: 22em;
    text-align: center;
    margin-top: 4em;
    text-decoration: none;
    width: 50%;
}

.nltext h1{
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: bold;
    text-decoration: none;
}

.nltext p {
    color: white;
    font-size: 1.2em;
}

.nltext img {
    margin-top: 2em;
    width: 25em;
}

.linknl a{
    margin-left: 42em;
    margin-top: -12em;
}

.linknl img{
    width: 4em;
}

/* /////////////////////////////////////////////////// */
/* heatmap */
/* ////////////////////////////////////////////////// */

.nlheatmap {
    text-align: center;
}

.nlheatmap h1{
    color: white;
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: bold;
    text-decoration: none;
}

.nlheatmap p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.nlheatmap img {
    justify-content: space-around;
    width: 70%;
}

.NextButtonToPercentage img {
        margin-top: -30em;
        margin-right: 1em;
        float: right;
        width: 5em;
}